.containerTitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  background-color: rgb(28, 142, 241);
}
.containerFilas {
  display: flex;
  flex-direction: row;
}
